# Part I: lists and loops

In [ ]:
#1) Create a list with the names of the top 10 CO₂ emitting countries (in order by total emissions)

In [16]:
Top10_list=['China', 'United States', 'India', 'Russia', 'Japan', 'Iran', 'Indonesia', 'Saudi Arabia', 'South korea', 'Germany']
Top10_list

['China',
 'United States',
 'India',
 'Russia',
 'Japan',
 'Iran',
 'Indonesia',
 'Saudi Arabia',
 'South korea',
 'Germany']

In [6]:
print(type(Top10_list))

<class 'list'>

In [ ]:
#2) Have Python tell you how many countries there are by examining your list

In [7]:
len(Top10_list)

10

In [ ]:
#3) Use slicing to display the first three countries (the top emitters)

In [10]:
Top10_list[0:3]

['China', 'United States', 'India']

In [ ]:
#4) Iterate through your countries and print the country name only if it has an a in the name

In [17]:
for i in Top10_list:
    A= i.count('a')
    if  A ==1:
        print(i)

China
United States
India
Russia
Iran
Indonesia
South korea
Germany

# Part II: Dictionaries

In [ ]:
#1) Now create a dictionary that maps each country name to its annual CO₂ emissions

In [18]:
Top_10 = {'China':13124.70,'United States':4632.16,'India':3153.83,'Russia':2009.15,'Japan':972.27,'Iran':828.99,'Indonesia':812.20,'Saudi Arabia':652.51,'South Korea':588.01,'Germany':579.94}
Top_10

{'China': 13124.7,
 'United States': 4632.16,
 'India': 3153.83,
 'Russia': 2009.15,
 'Japan': 972.27,
 'Iran': 828.99,
 'Indonesia': 812.2,
 'Saudi Arabia': 652.51,
 'South Korea': 588.01,
 'Germany': 579.94}

In [20]:
print(type(Top_10))

<class 'dict'>

In [ ]:
#2) Use your dictionary to look up the United States’ emissions

In [25]:
US= Top_10['United States']
print(US)

4632.16

In [ ]:
#3) Loop through the data and create a list of countries whose emissions are greater than 1,000 million metric tons per year

In [30]:
for i in Top_10:
    E = Top_10[i]
    if E >= 1000:
        print(i)

China
United States
India
Russia

In [ ]:
# 4) Now add Brazil to your dictionary

In [35]:
Top_10['Brazil']= 491.47
Top_10

{'China': 13124.7,
 'United States': 4632.16,
 'India': 3153.83,
 'Russia': 2009.15,
 'Japan': 972.27,
 'Iran': 828.99,
 'Indonesia': 812.2,
 'Saudi Arabia': 652.51,
 'South Korea': 588.01,
 'Germany': 579.94,
 'Brazil': 491.47}

# Part III: Functions

In [ ]:
# 1. Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [36]:
def k_c(k):
    c = k - 273.15
    return c

In [76]:
def c_k(c):
    k = c + 273.15
    return k

In [41]:
# 2. Write a function to convert temperature to fahrenheit
#Include an optional keyword argument to specify whether the input is in celcius or kelvin.
#Call your previously defined functions if necessary.

In [67]:
def to_f(t, unit='celsius'):
    if unit == 'celsius':
       return t * 9/5 + 32
    elif unit =='kelvin':
       return k_c(t) * 9/5 + 32
    else:
       raise Error ('Error,check the unit')

In [ ]:
#3. Check that the outputs are sensible

In [70]:
to_f(0,'kelvin')

-459.66999999999996

In [71]:
to_f(0)

32.0

In [72]:
to_f(25,'celsius')

77.0

In [ ]:
#4.Now write a function that converts from farenheit 
#and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [80]:
def f_to(t,unit='celsius'):
    if unit =='celsius':
        c = (t -32) * 5/9  
        return c
    if unit =='kelvin':
        c = (t -32) * 5/9 + 273.15
        return c

In [79]:
f_to(65)

18.333333333333332

In [81]:
f_to(0,'kelvin')

255.3722222222222

In [ ]:
#5. Write a function that takes two arguments (feet and inches) and returns height in meters

In [83]:
def to_m(feet, inches):
    return feet * 0.3048 + inches * 0.0254

In [84]:
to_m(1,2)

0.3556

In [ ]:
#6.Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [92]:
def tof_i(m):
    ans= m * 3.28084
    f = int(ans)
    i = round((ans- f)* 12, 2)
    return f,i

In [93]:
tof_i(1)

(3, 3.37)

In [ ]:
#7.Verify that the “round trip” conversion from and back to meters is consistent

In [95]:
to_m(10,10)

3.302

In [96]:
tof_i(3.302)

(10, 10.0)

In [97]:
to_m(5,5)

1.651

In [98]:
tof_i(1.651)

(5, 5.0)

In [99]:
to_m(1,1)

0.3302

In [100]:
tof_i(0.3302)

(1, 1.0)